@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@500&display=swap');

:root {
  --overlay: 
    radial-gradient(circle at 20% 30%, #00A870, transparent 60%),
    radial-gradient(circle at 70% 60%, #008388, transparent 60%),
    #004851;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  font-family: 'Funnel Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.quadrado, section {
  position: relative;
  background: var(--overlay);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

section {
  width: 80%;
  height: 150px;
}

h1 {
  background: var(--overlay);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  font-family: 'Funnel Display', Arial, sans-serif;
}

/* ===== BITMAP (sempre por cima de tudo) ===== */
.quadrado::after,
section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/bitmap.png");
  background-size: cover;  
  background-position: center;
  mix-blend-mode: color-burn;
  opacity: 0.2;
  pointer-events: none;
  z-index: 3;
  image-rendering: pixelated;
}

/* ===== ASTERISCOS (atrás do bitmap, mas dentro do container) ===== */
.asterisco-img {
  position: absolute;
  pointer-events: none;
  animation: fadeInOut 10s ease-in-out forwards;
  transform-origin: center center;
  z-index: 1; /* atrás da smiliface e atrás do bitmap */
  image-rendering: pixelated;
}

/* animação de fade in/out em 10s para asteriscos */
@keyframes fadeInOut {
  0% { opacity: 0; transform: rotate(0deg); }
  50% { opacity: 0.5; transform: rotate(45deg); }
  100% { opacity: 0; transform: rotate(90deg); }
}






/* Codigo do loading screen */

#loading-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.dots {
  display: flex;
  gap: 7px; 
}

.dots span {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 50%;
  display: inline-block;
  transform: translateY(0);
  animation: bounce 0.5s infinite ease-in-out;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.1s;
}
.dots span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

